h2{
    color: grey;
    font-family: 'Arial', sans-serif;
    font-style: italic;
}
p{
    color: blueviolet;
    font-family: 'Arial', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style:italic;
}